$primary-header-color:#00330c;
$primary-sidebar-color:#1a1a1a;
$primary-body-color:black;
$primary-button-fill-color:White;
$header-input-field-color:#333;


$header-icon-start-position:20px;
$header-title-start-position:60px;

$sidebar-width:220px;

$sidebar-transition-speed:150ms;
